---
import ActionButton from '../../../components/ActionButton.astro';
import InterviewThumbnail from '../../../components/InterviewThumbnail.astro';
import BaseLayout from '../../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
    let data = await Astro.glob('../../../data/interviews/*.mdx');
    
    return data.filter(d => d.frontmatter.sortorder !== 0).map(item => {
        return {
            params: {slug: item.frontmatter.slug },
            props: { item }
        }
    });
}

const { item } = Astro.props;
const title = item.frontmatter.title;
const propsObj = {
	title: `Summary of Interview with ${item.frontmatter.title}`,
    description: item.frontmatter.summaryMetaDescription ?? '',
    keywords: item.frontmatter.summaryMetaKeywords ?? '',
    breadBrumbPaths: [
        {name: 'The Interviews', path: 'seo-interviews/'},
        {name: item.frontmatter.title, path: ``}
    ]
}

const descriptionText = item.frontmatter.mediumdescription ?? item.frontmatter.description;

---
<style>
.back {
    padding-top: 2rem;
}
</style>
<BaseLayout setup={propsObj} title={title}>
    <article>
    
        <header>
            <h1>{item.frontmatter.title}</h1>
        </header>

        <div>
            {item.frontmatter.thumbnail && item.frontmatter.thumbnail !== '' && (
                <InterviewThumbnail 
                    src={item.frontmatter.thumbnail}
                    altText={`Thumbnail photo of ${item.frontmatter.title}`} />
            )}
            <div set:html={descriptionText}></div>
            
        </div>

        <ActionButton 
            link={`/seo-interviews/${item.frontmatter.slug}/interview/`}
            extraCss="mb-2"
            altText="Read the entire interview">interview</ActionButton>

    </article>
</BaseLayout>