---
import ActionButton from '../../../components/ActionButton.astro';
import InterviewThumbnail from '../../../components/InterviewThumbnail.astro';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
    let data = await getCollection('interviews');
    
    return data.filter(d => d.data.sortOrder !== 0).map(item => ({
        params: {slug: item.id }, props: { item }
        
    }));
}

const { item } = Astro.props;
const propsObj = {
	title: `Summary of Interview with ${item.data.title}`,
    description: item.data.summaryMetaDescription ?? '',
    keywords: item.data.summaryMetaKeywords ?? '',
    breadBrumbPaths: [
        {name: 'The Interviews', path: 'seo-interviews/'},
        {name: item.data.title, path: ``}
    ]
}

const descriptionText = item.data.mediumdescription ?? item.data.description;

---
<style>
.back {
    padding-top: 2rem;
}
</style>
<BaseLayout setup={propsObj}>
    <article>
    
        <header>
            <h1>{item.data.title}</h1>
        </header>

        <div>
            {item.data.thumbnail && item.data.thumbnail !== '' && (
                <InterviewThumbnail 
                    src={item.data.thumbnail}
                    altText={`Thumbnail photo of ${item.data.title}`} />
            )}
            <div set:html={descriptionText}></div>
            
        </div>

        <ActionButton 
            link={`/seo-interviews/${item.id}/interview/`}
            extraCss="mb-2"
            ariaLabel={`Full interview with ${item.data.title}`}
            altText="Read the entire interview">interview</ActionButton>

    </article>
</BaseLayout>