---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import InterviewThumbnail from '../../../components/InterviewThumbnail.astro';
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
    let data = await getCollection('interviews');
    
    return data.filter(d => d.data.sortOrder !== 0).map(item => {
        return {
            params: { slug: item.id },
            props: { item }
        }
    });
}

const { item } = Astro.props;
const { Content } = await render(item);
const propsObj = {
	title: `Interview with ${item.data.title} | The History of SEO`,
    description: item.data.metaDescription ?? '',
    keywords: item.data.metaKeywords ?? '',
    breadBrumbPaths: [
        {name: 'The Interviews', path: 'seo-interviews/'},
        {name: item.data.title, path: `${item.id}/`},
        {name: 'Interview', path: 'interview/'}
    ]
}
---
<style>
.back {
    padding-top: 2rem;
}
.thumbnail {
    float: left;
    margin: 0 1rem 1rem 0;
}
</style>
<BaseLayout setup={propsObj}>
    <article>
    
        <header>
            <h1>Interview with {item.data.title}</h1>
        </header>
        
        <div>
            {item.data.thumbnail && (
                <InterviewThumbnail 
                    src={item.data.thumbnail} 
                    altText={`Thumbnail photo of ${item.data.title}`} />
            )}
            
            <Content />

            <a href="/seo-interviews/" class="btn btn-primary m-block-start-3">Back to Interviews</a>
        </div>

    </article>
</BaseLayout>