---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ActionButton from '../../components/ActionButton.astro';
const propsObj = {
	title: 'The SEO Interviews – People in the History of Search Engine Optimization',
    metaDescription: 'The SEO Interviews indexes historic profiles involved in the dawning of the Search Engine Optimization industry.',
    metaKeywords: 'Search Engine Optimization Interviews, SEO Interviews, Tony Adam, John Audette, Adam Audette, Greg Boser, Christine Churchill, Bruce Clay, Brent Csutoras, Todd Malicoat, Chris Winfield, Damien Finlay, Michael Gray, Jonathan Hochman, Bill Hunt, Andre Jensen, Detlev Johnson, Laura Lippay, Matt McGowan, Lee Odden, Jeremy Sanchez, Marshall Simmonds, Danny Sullivan, Adam Sussman, Shari Thurow, Dana Todd, Aaron Wall, Jill Whalen, Derrick Wheeler ',
    breadBrumbPaths: [{name: 'The Interviews', path: 'seo-interviews/'}]
}

let data = await Astro.glob('../../data/interviews/*.md');

// Sort by 'sortorder' field
if (data.length) {
    data = data.sort((a, b) => {
        return (a.frontmatter.sortorder < b.frontmatter.sortorder) ? -1 : 1;
    }).filter(d => d.frontmatter.sortorder !== 0);
}

---
<BaseLayout setup={propsObj}>
    <style>
        .interview-item {
            border-bottom: solid 1px #ddd;
            margin-block: 1rem;
            padding-block: 1rem;
        }
        @media only screen and (min-width: 920px) {
            .interview-item {
                display: grid;
                grid-template-columns: 1fr 3fr 1fr;
                gap: 1rem;
            }
        }
    </style>
    {data && data.map(item => (
        <article class="interview-item">
            <header>
                <h2><a href={`/seo-interviews/${item.frontmatter.slug}/interview/`}>{item.frontmatter.title}</a></h2>
            </header>
            <div class="description" set:html={item.frontmatter.description}></div>
            <div class="links">
                <ActionButton 
                    link={`/seo-interviews/${item.frontmatter.slug}/`}
                    extraCss="m-block-end-2"
                    altText="Read the interview summary">summary</ActionButton>
                <ActionButton 
                    link={`/seo-interviews/${item.frontmatter.slug}/interview/`}
                    extraCss="m-block-end-2"
                    altText="Read the entire interview">interview</ActionButton>
            </div>
        </article>
    ))}
</BaseLayout>
	