---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import InterviewThumbnail from '../../../components/InterviewThumbnail.astro';
import { Markdown } from 'astro/components';

export async function getStaticPaths() {
    let data = await Astro.glob('../../../data/interviews/*.md');
    
    return data.filter(d => d.frontmatter.sortorder !== 0).map(item => {
        return {
            params: { summary: item.frontmatter.slug },
            props: { item }
        }
    });
}

const { item } = Astro.props;
const title = item.frontmatter.SummaryPageTitle;
const propsObj = {
	title: `Interview with ${item.frontmatter.title}`,
    metaDescription: item.frontmatter.metaDescription ?? '',
    metaKeywords: item.frontmatter.metaKeywords ?? '',
    breadBrumbPaths: [
        {name: 'The Interviews', path: 'seo-interviews/'},
        {name: item.frontmatter.title, path: `${item.frontmatter.slug}/`},
        {name: 'Interview', path: 'interview/'}
    ]
}
const content = await fetch(item.file).then(res => res.text());

---
<style>
.back {
    padding-top: 2rem;
}
.thumbnail {
    float: left;
    margin: 0 1rem 1rem 0;
}
</style>
<BaseLayout setup={propsObj} title={title}>
    <article>
    
        <header>
            <h1>Interview with {item.frontmatter.title}</h1>
        </header>
        
        <div>
            {item.frontmatter.thumbnail && item.frontmatter.thumbnail !== '' && (
                <InterviewThumbnail src={item.frontmatter.thumbnail} />
            )}
            <Markdown content={content} />
            
            <!-- <div set:html={item.frontmatter.content.html}></div> -->
        </div>

    </article>
</BaseLayout>