---
import ActionButton from '../components/ActionButton.astro';
import InterviewThumbnail from '../components/InterviewThumbnail.astro';
import { getCollection } from 'astro:content';

let data = await getCollection('interviews');

// Sort by 'sortorder' field
if (data.length) {
    data = data.filter(d => d.data.featuredsort !== 0).sort((a, b) => {
        return (a.data.featuredsort < b.data.featuredsort) ? -1 : 1;
    });
}
---
<style lang="scss">
    article {
        margin-block: 1rem;
        padding-block: 1rem;
        border-bottom: solid 1px #ddd;
        &:last-of-type {
            border: 0;
        }
    }
    @media only screen and (min-width: 992px) {
        article {
            display: flex;
            gap: 1rem;
        }
    }
</style>
<section aria-labelledby="featuredProfilesHeading">
    <h2 class="m-block-start-6 m-block-end-0" id="featuredProfilesHeading">Featured Profiles</h2>

{data && data.map(profile => (
    <article>
        <InterviewThumbnail src={profile.data.thumbnail} altText={`Thumbnail photo of ${profile.data.title}`} />
        <div>
            <h3><a href={`/seo-interviews/${profile.slug}/`}>{profile.data.title}</a></h3>
            <Fragment set:html={profile.data.featureddescription}></Fragment>
        
            <div>
                <ActionButton 
                    link={`/seo-interviews/${profile.slug}/`}
                    extraCss="mb-2"
                    ariaLabel={`Summary of the interview with ${profile.data.title}`}
                    altText="Read the summary">summary</ActionButton>

                <ActionButton 
                    link={`/seo-interviews/${profile.slug}/interview/`}
                    extraCss="mb-2"
                    ariaLabel={`Full interview with ${profile.data.title}`}
                    altText="Read the entire interview">interview</ActionButton>
            </div>
        </div>
    </article>
))}

</section>
