---
import ActionButton from '../components/ActionButton.astro';
import InterviewThumbnail from '../components/InterviewThumbnail.astro';

let data = Astro.fetchContent('../data/interviews/*.md');

// Sort by 'sortorder' field
if (data.length) {
    data = data.filter(d => d.featuredsort !== 0).sort((a, b) => {
        return (a.featuredsort < b.featuredsort) ? -1 : 1;
    });
}
---
<style lang="scss">
    .homeProfile {
        display: flex;
        gap: 1rem;
        margin-block: 1rem;
        padding-block: 1rem;
        border-bottom: solid 1px #ddd;
        &:last-of-type {
            border: 0;
        }
    }
</style>
{data && data.map(profile => (
    
    <div class="homeProfile">
        <InterviewThumbnail src={profile.thumbnail} />
        <div>
            <h3><a href={`/seo-interviews/${profile.slug}/`}>{profile.title}</a></h3>
            <Fragment set:html={profile.featureddescription}></Fragment>
        
            <div>
                <ActionButton 
                    link={`/seo-interviews/${profile.slug}/`}
                    extraCss="mb-2"
                    altText="Read the summary">summary</ActionButton>

                <ActionButton 
                    link={`/seo-interviews/${profile.slug}/interview/`}
                    extraCss="mb-2"
                    altText="Read the entire interview">interview</ActionButton>
            </div>
        </div>
    </div>
))}
