---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BreadCrumb from '../components/BreadCrumb.astro';
import Image from '../components/Image.astro';
import Robots from '../components/Robots.astro';
import '../styles/main.scss';
const { setup = {
	showCanonical: true
} } = Astro.props;
const titlePrefix = (import.meta.env.DEV) ? 'ASTRO: ' : '';
const title = `${titlePrefix}${setup.title} | The History of SEO` ?? 'Welcome!';
const breadCrumbLinks = setup.breadBrumbPaths ?? null;
const url = new URL(Astro.request.url);
const isHomePage = (url.pathname === '/') ? true : false;

---
<html lang="en">

<head>
<Robots />
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>{title}</title>
	<meta name="description" content={setup.metaDescription ?? title} />
	{setup.metaKeywords && setup.metaKeywords !== '' && (
		<meta name="keywords" content={setup.metaKeywords ?? ''} />
	)}
	{setup.showCanonical && (
		<link rel="canonical" href={Astro.canonicalURL} />
	)}
</head>

<body>
	<Header />

	<main class="main">
		<div class="container">
			<div class={`content-cols${(isHomePage) ? ' cols-home' : ''}`}>
				<div class="col-1 p-block-3">
					{breadCrumbLinks && (
						<BreadCrumb paths={breadCrumbLinks} />
					)}
					<slot />
				</div>
				<div class="col-2">
					<div class="img-wrapper">
						<Image src="theme/generic-graphic.jpg" width="400" height="200" />
					</div>
					<div class="brown">
						{isHomePage && (
							<div class="left">
								<Image src="theme/timeline-graphic-interim.gif" width="190" height="410" />
							</div>
						)}
						<div class="right"></div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<Footer />

</body>

</html>
<script>
    import '../scripts/links.ts';
</script>